@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>A deck of prompts for GitHub Copilot. See full source code and contribute at <a href="https://github.com/nicruo/CopilotDeck">GitHub</a>